.header {
  background-color: #333;
  padding: 10px 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.navLink.active {
  text-decoration: underline;
}

.logoutButton {
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #ff4500;
}
